@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/helvetica-neue/HelveticaNeue-UltraLtItal.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/helvetica/Helvetica.ttf') format('truetype');
}